{
    "bracketSpacing": true,
    "bracketSameLine": true,
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "requireConfig": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "jsxSingleQuote": true,
    "useTabs": false,
    "plugins": ["@prettier/plugin-pug", "prettier-plugin-css-order"]
}
