@keyframes scale-heart {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes spark-opacity {
    0% {
        fill: var(--svg-default-sparks-color);
    }

    100% {
        fill: var(--svg-red-color);
    }
}
