/* CARD */

@import './card-data';

.card {
    margin-top: 50.5px;
    border: var(--accent-color) 2px solid;
    background-color: var(--backgd-color);
    width: 100%;
    max-width: 700px;

    &__title {
        border-bottom: var(--accent-color) 2px solid;
        padding: 4.5px 10px;
        font-weight: var(--title-font-weight);
    }

    &__image-wrapper {
        position: relative;
        border-bottom: var(--accent-color) 2px solid;

        &::before {
            position: absolute;
            top: 23px;
            right: 10px;
            z-index: 1;
            mix-blend-mode: hard-light;
            color: var(--accent-color);
            font-size: 14px;
            font-family: var(--accent-font);
            text-shadow:
                1px 1px 0 #565353,
                1px -1px 0 #565353,
                -1px 1px 0 #565353,
                -1px -1px 0 #565353;

            @supports (-webkit-text-stroke: 0.5px var(--text-stroke-color)) {
                -webkit-text-stroke: 0.5px var(--text-stroke-color);
                text-shadow: none;
            }
        }
    }

    @each $cardNum, $teg in $before-element {
        &:nth-child(#{$cardNum}) &__image-wrapper::before {
            content: '#{$teg}';
        }
    }

    &__image {
        display: block;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 27px;
        padding: 25px;
        line-height: 20.9px;
    }

    &__like-itemes {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;
        padding-right: 25px;
        padding-bottom: 25px;

        &__heart_wrapper {
            border: none;
            background: transparent;
        }

        &__like-button {
            transition: color 0.5s;
            cursor: pointer;
            border: var(--accent-color) 2px solid;
            background: transparent;
            width: 130px;
            height: 38px;
            font-size: 14px;
            font-family: var(--accent-font);

            &:hover {
                transform: scaleX(1);
                transform-origin: left;
                background: var(--accent-color);
                color: var(--backgd-color);
            }
        }
    }
}

@each $filter, $blur in $img-filter {
    .img-#{$filter} {
        filter: $blur;
    }
}

@media (width >= 376px) {
    .card {
        &__image-wrapper {
            &::before {
                right: 21px;
            }
        }
    }
}
