/* CARD */

@import './card-data';
@import './animations.scss';
@import '../../util-scss/mixins.scss';

.card {
    margin-top: 51px;
    border: var(--accent-color) 2px solid;
    background-color: var(--backgd-color);
    width: 100%;
    max-width: 700px;

    &__title {
        border-bottom: var(--accent-color) 2px solid;
        padding: 5px 10px;
    }

    &__image-wrapper {
        position: relative;
        border-bottom: var(--accent-color) 2px solid;

        &::before {
            position: absolute;
            top: 23px;
            right: 10px;
            opacity: 0.5;
            z-index: 1;
            mix-blend-mode: hard-light;
            color: var(--accent-color);
            font-size: 14px;
            font-family: var(--accent-font);
            text-shadow:
                1px 1px 0 #565353,
                1px -1px 0 #565353,
                -1px 1px 0 #565353,
                -1px -1px 0 #565353;

            @supports (-webkit-text-stroke: 0.5px var(--text-stroke-color)) {
                -webkit-text-stroke: 0.5px var(--text-stroke-color);
                text-shadow: none;
            }
        }
    }

    @each $cardNum, $teg in $before-element {
        &:nth-child(#{$cardNum}) &__image-wrapper::before {
            content: '#{$teg}';
        }
    }

    &__image {
        display: block;
        object-fit: cover;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 27px;
        padding: 25px;
        line-height: 20.9px;
        font-variation-settings: 'wght' var(--text-font-weight);
    }

    &__like-itemes {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 6px;
        padding-right: 25px;
        padding-bottom: 25px;

        &__heart_wrapper {
            transition:
                outline 0.3s,
                outline-offset 0.3s ease;
            cursor: pointer;
            outline-offset: -30px;
            border: none;
            background: transparent;
            width: 38px;
            height: 36px;

            @include heart-animation;
        }

        &__like-button {
            width: 130px;
            height: 38px;

            // @extend %button-animation;
        }
    }
}

@each $filter, $blur in $img-filter {
    .filter-#{$filter} {
        filter: $blur;
    }
}

@media (width >= 376px) {
    .card {
        &__image-wrapper {
            &::before {
                right: 21px;
            }
        }
    }
}
