article.card
    .card__title Фритрек и нулевой спринт: Подготовка к работе
    .card__img
    .card__text
        p Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.
        p Место для ваших воспоминаний о начале обучения.
    .like-itemes
        img.like-itemes__heart(src='./images/svg/heart.svg', alt='heart')
        button.like-itemes__button(type='') Like
