article.card
    h2.card__title Фритрек и нулевой спринт: Подготовка к работе
    .card__image-wrapper
        svg.card__image(viewBox='0 0 700 700', fill='none', xmlns='http://www.w3.org/2000/svg')
            use.bus(href='./images/bus2.svg#bus')
    .card__text
        p Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.
        p Место для ваших воспоминаний о начале обучения.
    .card__like-itemes
        svg.card__like-items__heart(
            width='27',
            height='24',
            viewBox='0 0 27 24',
            xmlns='http://www.w3.org/2000/svg')
            use(href='./images/heart.svg#heart')
        button.card__like-itemes__button(type='') Like
