#my-popover(popover='manual')
    .popover-content
        button.popover-button(popovertarget='my-popover', popovertargetaction='hide')
            span(aria-hidden='true') OK
            span.visually-hidden Закрыть
        svg(width='40', height='40', viewBox='0 0 40 40', xmlns='http://www.w3.org/2000/svg')
            use(href='./images/floppy.svg#floppy')
        p Вставьте дискету, чтобы продолжить
