/* Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

STYLES!!!!!!!!!!!!!!!!!!!!!!!
*/

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: var(--backgd-img);
    background-attachment: fixed;
    min-inline-size: 320px;
    min-block-size: 100vh;
    color: var(--accent-color);
    font-weight: var(--text-font-weight);
    font-family: var(--main-font);
}

body {
    display: flex;
}

.inner {
    display: flex;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}
