@font-face {
    font-weight: 400;
    src: url(./fonts/PressStart2P-Regular.woff) format('woff');
    font-family: 'Press Start';
    font-display: swap;
}

@font-face {
    font-weight: 400 900;
    src:
        url(./fonts/Inter-Variable.woff2) format('woff2 supports variations'),
        url(./fonts/Inter-Variable.woff2) format('woff2-variations');
    font-family: 'Inter Variable';
    font-display: swap;
}
