/* THEMES!!!!!!!!!!!!!!!!!!!!!!!!! */

:root.theme-light {
    --backgd-color: #fff;
    --accent-color: #000;
    --title-font-weight: 700;
    --text-font-weight: 400;
}

:root.theme-dark {
    --backgd-color: #000;
    --accent-color: #00cc14;
    --title-font-weight: 785;
    --text-font-weight: 465;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgd-color: #000;
        --accent-color: #00cc14;
        --title-font-weight: 785;
        --text-font-weight: 465;
    }
}
