/* Var */
:root {
    --main-font: 'Inter Variable', sans-serif;
    --accent-font: 'Press Start';
    --title-font-weight: 700;
    --text-font-weight: 400;
    --backgd-color: #fff;
    --accent-color: #000;
}
