/* VARS */

:root {
    --main-font: 'Inter Variable', 'Arial', sans-serif;
    --accent-font: 'Press Start', 'Courier New', courier, fantasy;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --backgd-img-grad: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --backgd-color: #fff;
    --accent-color: rgba(0, 0, 0, 1);
    --text-stroke-color: rgba(255 255 255 / 50%);
    --mix-blend-mode-color: #fff;
    --svg-default-contour-color: rgba(0, 0, 0, 1);
    --svg-default-main-body-color: rgba(0, 0, 0, 0);
    --svg-default-core-color: rgba(0, 0, 0, 0);
    --svg-default-sparks-color: rgba(255, 0, 0, 0);
    --svg-red-color: rgba(255, 0, 0, 1);
}
