header.header
    h1.header__title
        | &lt;/html&gt;
    p.header__text
        | закрывающий тег
    nav.theme-menu.header__theme-menu
        ul.theme-menu__list
            li.theme-menu__item
                button.theme-menu__button(type='button', data-theme='dark')
                    | темно
            li.theme-menu__item
                button.theme-menu__button(type='button', data-theme='auto', disabled='')
                    | авто
            li.theme-menu__item
                button.theme-menu__button(type='button', data-theme='light')
                    | светло
