footer.footer
    button.footer__button(type='button', popovertarget='my-popover') Сохранить на память
        svg(width='28', height='28', viewBox='0 0 40 40', xmlns='http://www.w3.org/2000/svg')
            use(href='./images/floppy.svg#floppy')
