/* FOOTER */

.footer {
    &__button {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition:
            color 0.5s,
            box-shadow 0.3s;
        cursor: pointer;
        margin-top: 53px;
        margin-bottom: 100px;
        border: 2px solid var(--accent-color);
        background-color: var(--backgd-color);
        width: 306px;
        height: 84px;
        color: var(--accent-color);
        font-size: 14px;
        font-family: var(--accent-font);

        &::after {
            position: absolute;
            left: 0;
            transition: width 0.3s;
            background-color: var(--accent-color);
            width: 0;
            height: 100%;
            content: '';
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &__text {
            z-index: 1;
            mix-blend-mode: difference;
            color: var(--mix-blend-mode-color);
        }

        &:focus {
            outline: none;
            box-shadow: 2px 2px var(--accent-color);
        }

        svg {
            z-index: 1;
            mix-blend-mode: difference;
            color: var(--mix-blend-mode-color);
        }
    }
}

@media (width >= 376px) {
    .footer {
        &__button {
            flex-direction: row-reverse;
            width: 335px;
            height: 55px;
        }

        svg {
            width: 22px;
            height: 22px;
        }
    }
}
