.bottom-button-wrapper
    button.bottom-button-wrapper__button.animated-button(
        type='button',
        onclick='window[\'dialog-id\'].showModal()',
        aria-controls='dialog-id') 
        svg(width='28', height='28', viewBox='0 0 40 40', xmlns='http://www.w3.org/2000/svg')
            use(href='./images/floppy.svg#floppy')
        span Сохранить на память
