extends ./layouts/default
include ./components/content-card/content-card

block content
    include ./components/content-card/card-data
    main
        each item in cards
            +contentCard(item.title, item.text1, item.text2, item.filterClass)
    script(src='./scripts/like.js')
